/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
    /* colors */
    --clr-dark: 230 35% 7%;
    --clr-light: 231 77% 90%;
    --clr-white: 0 0% 100%;
    
    /* font-sizes */
    --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
    --fs-800: 3.5rem;
    --fs-700: 1.5rem;
    --fs-600: 1rem;
    --fs-500: 1rem;
    --fs-400: 0.9375rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
    
    /* font-families */
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;
}

@media (min-width: 35em) {
    :root {
        --fs-800: 5rem;
        --fs-700: 2.5rem;
        --fs-600: 1.5rem;
        --fs-500: 1.25rem;
        --fs-400: 1rem;
    }
}

@media (min-width: 45em) {
    :root {
        /* font-sizes */
        --fs-800: 6.25rem;
        --fs-700: 3.5rem;
        --fs-600: 2rem;
        --fs-500: 1.75rem;
        --fs-400: 1.125rem;
    }
}
/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}


/* set up the body */
body {
    font-family: var(--ff-sans-normal);
    font-size: var(--fs-400);
    color: hsl( var(--clr-white) );
    background-color: hsl( var(--clr-dark) );
    line-height: 1.5;
    min-height: 100vh;
    display: grid;
}

/* make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* set up the article */

article {
    margin-top: -4rem;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
}

.container {
    padding: 2em;
    max-width: 80rem;
}

.align-end {
    align-self: end;
}

.align-srart {
    align-self: start;
}

.space-around-justify {
    justify-content: flex-start;
}

.sr-only {
  position: absolute; 
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px; 
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* colors */

.bg-dark { background-color: hsl( var(--clr-dark) );}
.bg-accent { background-color: hsl( var(--clr-light) );}
.bg-white { background-color: hsl( var(--clr-white) );}

.text-dark { color: hsl( var(--clr-dark) );}
.text-accent { color: hsl( var(--clr-light) );}
.text-white { color: hsl( var(--clr-white) );}

/* typography */

.ff-serif { font-family: var(--ff-serif); } 
.ff-sans-cond { font-family: var(--ff-sans-cond); } 
.ff-sans-normal { font-family: var(--ff-sans-normal); } 

.letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 
.letter-spacing-3 { letter-spacing: 2.35px; } 

.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}

.numbered-title {
    font-family: var(--ff-sans-cond);
    font-size: var(--fs-500);
    text-transform: uppercase;
    letter-spacing: 4.72px; 
}

.numbered-title span {
    margin-right: .5em;
    font-weight: 700;
    color: hsl( var(--clr-white) / .25);
}


/* ------------------- */
/* Compontents         */
/* ------------------- */

.large-button {
    position: relative;
    z-index: 1;
    display: inline-grid;
    place-items: center;
    padding: 0 2em;
    border-radius: 50%;
    aspect-ratio: 1;
    text-decoration: none;
}

.large-button::after {
    font-size: 2rem;
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: hsl( var(--clr-white) / .1);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 500ms linear, transform 750ms ease-in-out;
}
 
.large-button:hover::after,
.large-button:focus::after {
    opacity: 1;
    transform: scale(1.5);
}
 
/* primary header */

.home-header {
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin: 1.5rem 3rem;
}

.navigation {
    --gap: clamp(1.5rem, 5vw, 3.5rem);
    --underline-gap: 0.3rem;
    margin: 0;
    list-style: none;
    background-color: none;
}

.primary-navigation {
    --underline-gap: 2rem;
    padding: 0px 165px 0px 123px;
    background-color: hsl( var(--clr-white) / .1);
    -webkit-backdrop-filter: blur(1em);
    backdrop-filter: blur(1em);
}

.navigation button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.primary-navigation button > span {
    font-weight: 700;
    margin-right: .2em;
}

.mobile-nav-toggle {
    border: 0;
    background: transparent;
}

@media (max-width: 45em) {
    .primary-navigation {
        --underline-gap: 0.5rem;
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 40%;
        padding: min(20rem, 20vh) 2rem;
        flex-direction: column;
        backdrop-filter: blur(0.5px);
        transition: transform 500ms ease-in-out;
        -webkit-transition: -webkit-transform 500ms ease-in-out;
        }

        .primary-navigation.underline-indicators > .active {
            border: 0;
        }

        .mobile-nav-toggle {
            display: block;
            position: absolute;
            z-index: 2000;
            right: 3rem;
            top: 3rem;
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
            background-image: url(./assets/shared/icon-close.svg);
            cursor: pointer;
        }
        .burger-menu {
            background-image: url(./assets/shared/icon-hamburger.svg);
        }
}

@media (min-width: 45em) and (max-width: 54.999em) {
     .primary-navigation {
         padding-inline: 3rem;
     }

     .primary-navigation a > span {
         display: none;
     }
     
     .home-header {
         align-items: flex-start;
     }
}

@media (min-width: 55em) {
    nav {
        order: 2;
    }
    
    .home-header::after{
        position: relative;
        content: '';
        height: 1px;
        width: 100%;
        background-color: hsl( var(--clr-white) / .5);
        order: 1;
        left: -3rem;
        margin-right: -7rem;
    }

}

.underline-indicators > * {
    cursor: pointer;
    padding: var(--underline-gap, 1rem) 0;
    border: 0;
    border-bottom: .2rem solid hsl( var(--clr-white) / 0 );
}

.underline-indicators > *:hover,
.underline-indicators > *:focus {
    border-color: hsl( var(--clr-white) / .5);
}

.underline-indicators > .active,
.underline-indicators > [aria-selected="true"] {
    color: hsl( var(--clr-white) / 1);
    border-color: hsl( var(--clr-white) / 1); 
}

.tab-list {
    --gap: 2rem;
}

.tab-list > button {
    background-color: transparent;
}



.dot-indicators > * {
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    padding: .5em;
    background-color: hsl( var(--clr-white) / .25);
}
 
.dot-indicators > *:hover,
.dot-indicators > *:focus { 
    background-color: hsl( var(--clr-white) / .5);
}

.dot-indicators > .active {
    background-color: hsl( var(--clr-white) / 1); 
}

.space-between {
    justify-content: space-between;
}

.home-description {
    max-width: 550px;
}

/* ----------------------------- */
/* Page specific background      */
/* ----------------------------- */

.main {
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    display: grid;
    height: 100vh;
    padding: 0px 0px 131px 0px;
}

.home {
    background-image: url(./assets/home/background-home-mobile.jpg);
}

.destination {
    background-image: url(./assets/destination/background-destination-mobile.jpg);

}

.crew {
     background-image: url(./assets/crew/background-crew-mobile.jpg);
}

.technology {
    background-image: url(./assets/technology/background-technology-mobile.jpg);
}

@media (min-width: 45em) {
    .main {
        background-position: center center;
    }

    .home {
        background-image: url(./assets/home/background-home-tablet.jpg);
    }
    
    .destination {
        background-image: url(./assets/destination/background-destination-tablet.jpg);
    }
    
    .crew {
         background-image: url(./assets/crew/background-crew-tablet.jpg);
    }
    
    .technology {
        background-image: url(./assets/technology/background-technology-tablet.jpg);
    }
}

@media (min-width: 55em) {
    .home {
        background-image: url(./assets/home/background-home-desktop.jpg);
    }

    .destination {
       
        background-image: url(./assets/destination/background-destination-desktop.jpg);
    }
    
    .crew {
         background-image: url(./assets/crew/background-crew-desktop.jpg);
    }
    
    .technology {
        background-image: url(./assets/technology/background-technology-desktop.jpg);
    }
}

/* ----------------------------- */
/* Layout                        */
/* ----------------------------- */
.grid-container {
    text-align: center;
    display: grid;
    place-items: center;
    padding-inline: 1rem;
    padding-bottom: 3rem;
    row-gap: 5rem;

}

.grid-container p {
    max-width: 50ch;
}

.numbered-title {
    grid-area: title;
}

/* destination layout */

.grid-container--destination {
    grid-template-areas: 
        'title'
        'image'
        'tabs'
        'content';
}

.grid-container--destination > img {
    grid-area: image;
    max-width: 60%;
}


.grid-container--destination > .tab-list {
    grid-area: tabs;
}

.grid-container--destination > .destination-info {
    grid-area: content;
}

.destination-meta {
    flex-direction: column;
    border-top: 1px solid hsl( var(--clr-white) / .1);
    padding-top: 2.5rem;
    margin-top: 2.5rem;
    align-items: center;
}

.destination-meta p {
    font-size: 1.75rem;
}

/* crew layout */

.crew-details > h2 {
    color: hsl( var(--clr-white) / .25);
    padding-bottom: .5rem;
}

.crew-details > .nameCrew {
    padding-bottom: 1rem;
}

.grid-container--crew {
    --flow-space: -3rem;
    grid-template-areas: 
        'title'
        'image'
        'tabs'
        'content';
}

.grid-container--crew > img{
    grid-area: image;
    max-width: 60%;
    border-bottom: 1px solid hsl( var(--clr-white) / .1);
}

.grid-container--crew > .dot-indicators{
    grid-area: tabs;
}

.grid-container--crew > .crew-details {
    grid-area: content;
}

/* technology layout */

.theTechn {
    padding-bottom: .5rem;
}

.nameTechn {
    padding-bottom: 1rem;
}

.technology-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-container--technology {
    --flow-space: -4rem;
    align-items: center;
    grid-template-areas: 
        'title'
        'image'
        'tabs'
        'content';
}

.grid-container--technology > img{
    grid-area: image;
    max-width: 60%;
    border-bottom: 1px solid hsl( var(--clr-white) / .1);
}

.grid-container--technology > .dot-indicators{
    grid-area: tabs;
}

.grid-container--technology > .technology-details {
    grid-area: content;
}

@media (min-width: 45em) {
    .numbered-title {
        justify-self: start;
        margin-top: 4rem;
    }

    .destination-meta {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .grid-container--crew {
        padding-bottom: 0;
        grid-template-areas: 
            'title'
            'content'
            'tabs'
            'image';
    }

    .grid-container--crew > h1 {
        margin-top: 2rem;
    }

    .grid-container--technology > img {
        min-width: 110%;
    }


}


@media (min-width: 55em) {
    .grid-container {
        text-align: left;
        column-gap: var(--container-gap, 4rem);
        grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(2rem, 1fr);
    }
    
    .grid-container--home > *:first-child {
        grid-column: 2;
    }

    .grid-container--home > *:last-child {
        grid-column: 3;
    }

    .grid-container--home {
    padding-bottom: max(1rem, 10vh);
    align-items: end;
    }

    .destination-meta {
        flex-direction: row;
        column-gap: 4rem;
    }

    .grid-container--destination {
        justify-items: start;
        align-content: start;
        grid-template-areas: 
            '. title title .'
            '. image tabs .'
            '. image content .';
    }

    .grid-container--destination > img {
        max-width: 80%;
    }

    .destination-meta {
        --gap: min(6vw, 6rem);
        justify-content: start;
    }
    
    .grid-container--crew {
        justify-items: start;
        align-content: start;
        padding-bottom: 0rem;
        --flow-space: 0rem;
        padding-top: 4rem;
        grid-template-areas: 
            '. title image .'
            '. content image .'
            '. tabs image .';
    }

    .grid-container--crew > img {
        align-self: end;
        max-width: 95%;
    }

    .grid-container--crew > h1 {
        margin-top: -2rem;
    }

    .grid-container--crew > .dot-indicators {
        margin-bottom: 4rem;
    }
    
    .grid-container--technology {
        justify-items: start;
        align-content: start;
        grid-template-areas: 
            '. title title .'
            '. content image .'
            '. tabs image .';
    }

    .grid-container--technology > h1 {
        padding-bottom: 4rem;
    }

    .grid-container--technology > .technology-details {
        align-items: flex-start;
    }

}